<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png"  href="{{ url_for('static', filename='yumiko favi.jpg') }}">
    <title>Reset Password - Yumiko</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('reset_password', token=token) }}" method="post">
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
            <button type="submit"><span>Update Password</span></button>
        </form>
         <div class="toggle-form">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
</body>
</html>
